/* 
.icon {
    background-color: #316dc3;
    font-family: Arial, Helvetica, sans-serif;
    display:flex ;
    align-items: center;
}

i  {
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 30px;
}

p {
     color: #fff;
     padding-left: 130px;
     font-size: 15px;
     display: block;
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
}


.navbar-nav {
    border: 1px solid blue;
    z-index: 2;
     border-radius: 15px;"
}

.navbar-nav:hover {
    background-color: #316dc3;
}

.btn-group {
    background-color: #f7f8fa;
    top: 0;
    left: 0;
    display:flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    align-items: center;
    cursor: pointer;

}
.btn-group .nav {
    list-style: none; 
    margin-left:40px;
    padding:10px; 
    margin-top: 20px;
    height: 50px;

}

.btn-group ul li:hover > ul {
    display: block;
}



.btn-group .nav li {
    background-color:  #f7f8fa;
    width: 85px;
    border: 1px solid white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    color:black;
    font-size: 10px;
    font-style:bold;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    display: inline;

}

.btn-group ul ul {
    display: none;
    list-style: none;

}



.btn-group ul li:hover {
    background-color: #316dc3;

}

.btn-group .nav ul ul {
    list-style: none;
    margin-left: 45px;
    top: 0;
    position: absolute;
} */

.scrollToTop {
    background: rgba(12, 12, 12,);
    bottom: 15px;
    right: 10px;
    padding:2px ;
    position: fixed;
    text-align:left;
}